*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    height: 90%;
    width: 1100px;
    margin: auto;
}

/* header css start here */
header{
    background-color: #DDDDDD;
    height: 90px;
}

.container h2 a{
    text-decoration: none;
    color: #0b2038;
    font-weight: 700;
    font-size: 40px;

}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
ul li a{
    text-decoration: none;
    color: #f102E50;
    font-size: 18px;
}
ul li a:hover{
    color: brown;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* hero section css start here */

.blog-title{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.blog{
    display: flex;
    gap: 25px;
    justify-content: space-around;
    align-items: center;
}

img{
    width: 300px;
    height: auto;
    border-radius: 10px;
    
}

.card h3{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}
.card p{
    text-align: center;
    font-size: 16px;
    
}